canvas {
	top: 0;
	left: 0;
    width: 100%;
    padding-top: -100%;
    background-color: #222;
	position: absolute;
	z-index: -999;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
